div {display: block;}
* {
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;*/
    margin: 0px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino;
} 
a:visited {color: #A9A9A9;}
a:link {color: #4c4cff;}
img {
	float: left;
	height: 160px;
	width: 160px;
}
.mainheader {
	margin: 0px;
	padding: 49px;
	padding-bottom: 0px;
	background-image: url("http://i.huffpost.com/gen/2491724/thumbs/o-DUKE-UNIVERSITY-CHAPEL-facebook.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 550px;
}
#mainheaderd {width: 100%;}
#maindescription {
	margin: 0px;
	background-color: white;
	height: 0.5px;
}
#title{
	margin-top: 200px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 20px;
	text-align: center;
	border-style: solid;
	border-color: white;
	border-radius: 0.1px;
	font-size: 36px;
	color: #fff;
}
#buttons {
	background-color:  white;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 100%;
	height: 160px;
	position: fixed;
}
#resultstats{
	margin-top: 160px;
	height: 40px;
	max-width: 100%;
	font-size: 14px;
	background-color: white;
	border-width: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
#xmloutput{
	margin-top: 220px;
	margin-left: 12%;
	margin-right: 12%;
	max-width: 100%;
	/*background-color: red;*/
}
#footnote {
	height: 50px;
	margin: 0px;
	background-color: black;
}
#footdescription {
	color: white;
	padding-top: 20px;
	position: center;
	text-align: center;
	font-size: 12px;
}
.statvalue{margin: 0px;}
.showstat{margin-left: 175px; height: 160px;}
.lprofs{
	max-width: 100%;
	margin: 30px;
	border-style: solid;
	border-width: 1.5px;
	border-color: blue;
	height: 160px;
}
.aprofs{
	max-width: 100%;
	margin: 30px;
	border-style: solid;
	border-width: 1.5px;
	border-color: black;
	height: 160px;
}
#lproflog {
	height: 80px;
	background-image: url('http://i.huffpost.com/gen/2491724/images/o-DUKE-UNIVERSITY-CHAPEL-facebook.jpg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 170%;
	font-size: 24px;
	text-align: center;
	color: white;
	padding-top: 50px;
}
#aproflog {
	height: 80px;
	/*border-width: 6px;*/
	background-image: url('http://i.huffpost.com/gen/2491724/images/o-DUKE-UNIVERSITY-CHAPEL-facebook.jpg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 170%;
	font-size: 24px;
	text-align: center;
	color: white;
	padding-top: 50px;
}
p.codept {margin-top: 4px; font-size: 14px;}
p.inter {margin-top: 4px; font-size: 14px;}
p.profrese {font-size: 10px; color: #A9A9A9;}
a.profname {font-size: 24px;}
a.profdept {font-size: 14px;}
.depts{
	float: left;
	padding: 4px;
	margin: 1.2px;
	font-size: 10px;
	border-radius: 8px;
	background-color:#fff;
}
.highlight{
	background-color: #4c4cff;
	color: #fff;
}
.unhighlight {
	background-color: white;
	color: black;
}

.fixed{
	top:0;
}
